
.logo{
  width: 40%;
  max-width: 500px;
  margin: 50px auto;
}

img{
  width: 100%;
}

.loginInput{
  margin: 0px 10px !important;
}

.login{
  margin: 10px !important;
}


.navLink {
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 15px;
}

.active {
  color: rgb(73, 203, 243) !important;
}

.logedUser{
  margin: 30px;
  padding-bottom: 3px;
}
.date{
  display: inline;
}
.dateButton {
  background-color: rgb(255, 200, 21) !important;
  color: black !important;
  margin: 10px !important;
}

.wrap{
  width: 95%;
  margin: 0px auto;
}

.record{
  margin-top: 25px;
}

.rightInput{
  margin-right: 20px;
}

.addButton{
  width: 25px;
  height: 25px;
  margin: 2px 10px;
  border-radius: 50%;
  border-width: 0px;
  background-color: rgb(255, 200, 21);
  color: white;
  font-size: 17px;
}

.removeButton{
  width: 25px;
  height: 25px;
  margin: 2px 10px;
  border-width: 0px;
  background-color: rgb(241, 77, 26);
  color: white;
  font-size: 17px;
}

.buttonWrap{
  display: inline;
  width: 100px;
}

.selectInput{
  width: 150px;
}

@media(min-width: 700px ){
  .navLink {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
  }

  .wrap{
    width: 70%;
  }
}